@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=STIX+Two+Math&display=swap');
@font-face {
    font-family: 'Otomanopee One', sans-serif;;
    src: url();
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<-------------MODIFICACIONES-GENERALES-------------->
<--------------------------------------------------->
<---------------------------------------------------> */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

li{
    /* margin-top: 25px; */
    text-align: center;
    
}

a{
    color: white;

}
/* @media screen and (max-width: 700px){
    header{
        display: none;
    }
    
} */
/*<--------------------------------------------------->
<--------------------------------------------------->
<-------------------header-------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

nav{
    height: 100%;
    background-color: rgb(2, 2, 2);
    color: white;
    display: flex;
    position: fixed;
    width: 18%;
    justify-content:center;
    align-items: center;
    background-position: center;
    z-index: 12934878;
    
}
.nav-div{    
    background-position: center;
    justify-content: center;
    align-items:center;
}
.fotico{
    background-image: url("../img/backflip.jpg");
    background-size: cover;
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 30px 10px;
    border: blanchedalmond solid;
}

.cabecera-1{
    text-align: center;
}

.cabecera{
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.main-ul li{
    margin-top: 20%;
}

/* .menu-button{
    width: 20vw;
    height: 7vh;
    background-color: orange;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px 0px white;
} */

/* .menu{
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
} */

.main-ul{
    list-style: none;
    padding-left: 0;
}

@media screen and (max-width: 1030px){
    nav{
        display: flex;
        width: 100%;
        height: 10%;
        z-index: 1000000;
        top: 0;
        left: 0;
        position: fixed;
        border: none;
    }
    .main-ul{
        display: flex;
    }

    .cabecera{
        display: none;
    }

    .cabecera-1{
        display: none;
    }

    .fotico{
        display: none;
    }
    .main-ul li{
        margin-top: 0;
    }
}


@media screen and (max-width: 700px){
    
    /* header{
        display: none;
    } */

    nav{
        display: flex;
        width: 100%;
        height: 10%;
        z-index: 1000000;
        top: 0;
        left: 0;
        position: fixed;
        border: none;
    }
    .main-ul{
        display: flex;
        flex-direction: column;
    }
    

    .cabecera{
        display: none;
    }

    .cabecera-1{
        display: none;
    }

    .fotico{
        display: none;
    }
    .main-ul li{
        margin-top: 0;
    }
    
}
/*<--------------------------------------------------->
<--------------------------------------------------->
<-------------------buton--------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

/* .boton-fixed{
    position: fixed;
    top: 50%;
    right: 0%;
    display: flex;
} */

.boton-tuerca{
    position: absolute;
    top: 0;
    left: -46px;
    width: 7vh;
    height: 7vh;
    background-color: red;
    z-index: 312312;
}

.cuadro-colores{
    position: fixed;
    top: 35%;
    right: -37vh;
    display: flex;
    width: 37vh;
    height: 45vh;
    background-color: white;
    transition: right 0.5s ease;
    z-index: 12345678909876543212345678987654;
    
}
.colores-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.colores-contenedor div{
    border-radius: 50%;
    height: 2.3vw;
    width: 2.3vw;
    border: 1px solid black;
    cursor: pointer;
    margin-left: .5vw;
    margin-right: .5vw ;
}


.cuadro-colores.salio{
   right: 0vh;
}

.colores-1{
    background-color: red ;
}
.colores-2{
    background-color: blue ;
}    
.colores-3{
    background-color: green ;
}
.colores-4{
    background-color: #CF0000 ;
}
.colores-5{
    background-color: #FF2626 ;
}
.colores-6{
    background-color: #FFB740 ;
}
.colores-7{
    background-color: #FAFF00 ;
}
.colores-8{
    background-color: #52006A ;
}
.colores-9{
    background-color: #064420 ;
}
.colores-10{
    background-color: #F7A440 ;
}
.colores-11{
    background-color: #F98404 ;
}
.colores-12{
    background-color: #4F0E0E ;
}
.colores-13{
    background-color: #FF3F00 ;
}
.colores-14{
    background-color: #FFF338 ;
}
.colores-15{
    background-color: #FF4C29 ;
}
.colores-16{
    background-color: #2D2424 ;
}
.colores-17{
    background-color: #DA0037 ;
}
.colores-18{
    background-color: #F54748 ;
}
.colores-19{
    background-color: #04009A ;
}
.colores-20{
    background-color: #39A2DB ;
}

@media screen and (max-width: 700px){
    .cuadro-colores{
        height: 50vh;

    }
    .colores-contenedor div{
        border-radius: 50%;
        height: 9vw;
        width: 9vw;
        border: 1px solid black;
        cursor: pointer;
        margin-left: 1vw;
        margin-right: 1vw ;
    }
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<-------------------home---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.home{
    height: 100vh;
    background-image: url("../img/backflip.jpg");
    background-size: cover;
    margin-left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.home-titulo{
    color: white;
    font-size: 70px;
    /* display: flex; */
}

.nombre{
    color: red;
}

.texto-animado{
    display: flex;
    justify-content:flex-end;
    height: 47px;
    width: 300px;
    color: white;
    font-size: 40px;
    overflow: hidden;

}

.texto{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

.animado{
    margin: 0%;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -48px;}
    50%{margin-top: -48px;}
    
    55%{margin-top: -95px;}
    80%{margin-top: -95px;}

    85%{margin-top: -40px;}
    95%{margin-top: 40px;}

    100%{margin-top: 0;}
}

@media screen and (max-width: 1030px) {
    .home{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .home{
        margin-left: 0%;
        background-image: none;
        background-color: black;
    }
    .home-titulo{
        color: white;
        font-size: 60px;
        display: flex;

    }
    .nombre{
        margin-left: 10px;
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<---------------sobre-mi---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.about{
    background-color: #fff;
    height: 100%;
    margin-left: 18%;
}

.sobre-mi{
    margin: 55px 35px;
    
}

.about-titulo{
    font-size: 40px;
    color: red;

}

.contenedor-about{
    display: flex;
    justify-content:center;
}

.about-foto{
    height: 80vh;
    width: 70vh; 
    background-image: url("../img/perfil.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: ridge white;
    border-radius: 5px;
    margin-top: 20px;
}

.about-texto{
    margin-top: 20px;
    margin-left: 35px;
    height: 50vh;
    width: 80vh;
    border-bottom: ridge;
}

.rojo{
    color: red;
    font-size: 30px;
    margin-bottom: 10px;   
}

.quien-soy{
    margin-bottom: 10px;
    font-size: 35px;
}

.mucho-texto{
    font-size: 20px;
}

.about-informacion{
    margin-left: 35px;
    
}

.my-info{
    margin-top: 10%;
    margin-bottom: 7%;
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.span-info{
    color: red;
}

.info-botones{
    display: flex;
    /* justify-content: space-between; */
}

.info-boton-izquierdo{
    height: 45px;
    width: 120px;
    /* margin-top: 25px;
    margin-left: 25%; */
    margin-right: 20px;
    border-radius: 40px;
    font-size: 15px;
    background-color: red;
    color: white;
    cursor: pointer ;
}

.info-boton-derecho{
    height: 45px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    cursor: pointer ;
}



@media screen and (max-width: 1030px){
    
    .about{
        height: 100%;
        margin-left: 0%;
    }

    .about-espacio-foto{
        display: inline;
        align-items: center;
        justify-content: center;
    }

    .about-informacion{
        margin-left: 0;
        
    }

    .my-info{
        margin-top: 10%;
        margin-bottom: 7%;
        display:flex;
        flex-direction: column;
    
    }

    .about-foto{
    height: 30vh;
    position: relative;    
    width: 30vh;
    border-radius: 50%;
    margin-left: 17%;
    }

    .about-texto{
        height: 100%;
        width: 100%;
    }

    .contenedor-about{
        display: flex;
        flex-direction: column;
    }

    .about-texto{
        margin-left: 0%;
    }
    .info-botones{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .info-boton-izquierdo{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<---------------services---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.services{
    background-color: #fff;
    height: 100%;
    margin-left: 18%;
}

.servicios{
    margin: 55px 35px;
    
    
}

.box-principal{
    display: flex;
    justify-content: space-between;
}

.services-titulo{
    font-size: 40px;
    color: red;
}

.box{
    height: 240px;
    width: 355px;
    border: 1px groove ;
    margin: 20px 25px 0px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;   
}
.box li h3{
    color: red;
}
@media screen and (max-width: 1030px) {
    .services{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .services{
        margin-left: 0%;
    }
    .box-principal{
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 100%;
        
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<----------------espacio---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.espacio{
    height: 40vh; 
    background-image: url("../img/foto-fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;   
    position: relative;
}
.espacio::before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    /* margin-left: 18%; */
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0), black 100%);
    z-index: 996;
}


.texto-espacio{
    margin-left: 35px;
    z-index: 997;
}

.titulo-espacio{
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 35px;
    z-index: 998;
}

.espacio-boton{
    height: 45px;
    width: 120px;
    margin-right: 50px;
    border-radius: 20px;
    font-size: 15px;
    background-color: red;
    color: white;
    cursor: pointer ;
    z-index: 999;
}

@media screen and (max-width: 1030px) {
    .espacio{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .espacio{
        height: 60vh;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    .texto-espacio{
        margin-left: 0px;
        z-index: 997;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo-espacio{
        font-size: 50px;
        margin-bottom: 10px;
        margin-left: 0px;
        z-index: 998;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .espacio-texto{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .espacio-boton{

        height: 45px;
        width: 40%;
        margin-right: 0px;
        border-radius: 20px;
        font-size: 15px;
        background-color: red;
        color: white;
        cursor: pointer ;
        z-index: 999;
        margin-left: 0%;
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<---------------portfolio---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.portfolio{
    background-color: #fff;
    height: 140%;
    margin-left: 18%;
}

.portfolio-titulo{
    font-size: 40px;
    margin-bottom: 15px;
    color: red;
}

.portafolio{
    margin: 55px 35px;
}

.portafolio-texto{
    margin-bottom: 2rem;
}

.main-grid{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: start;
}

.portafolio-lista{
    padding: 1em;
    cursor: pointer;
}

.portafolio-lista:hover{
    color: red;
}

.main-box-portafolio{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    row-gap: 6%;
    column-gap: 4%;
    margin-top: 15px;
}

.main-box-portafolio figure{
    position: relative;
    height:  100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.main-box-portafolio figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.main-box-portafolio figure .portafolio-box-1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.main-box-portafolio figure:hover > .portafolio-box-1{
    opacity: 1;
    visibility: visible;
}

.main-box-portafolio figure:hover > .portafolio-box-1 h3{
    margin-top: 50%;
    margin-bottom: 2%;
}

.main-box-portafolio figure .portafolio-box-1 h3{
    color: white;
    font-weight: 400;
    margin-bottom: 320px;
    margin-top: 30px;
    transition: all 500ms ease-out;

}

.main-box-portafolio figure .portafolio-box-1 p{
    color: red;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    transition: all 500ms ease-out;

}

@media screen and (max-width: 1030px) {
    .portfolio{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){

    .portfolio{
        margin-left: 0%;
    }

    .portfolio-titulo{
        margin-top: 1%;
    }

    .portafolio-texto{
        margin-bottom: 1%;
    }
    
    .main-box-portafolio{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 35% 35% 35%;
    }

    .main-box-portafolio figure:hover > .portafolio-box-1 h3{
        margin-top: 40%;
    }
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<----------------references------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.clients{
    background-color: #fff;
    height: 100%;
    margin-left: 18%;
}

.clients-titulo{
    font-size: 40px;
    color: red;
}

.clientes{
    margin: 55px 35px;
}

.main-clientes{
    margin: 55px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
    column-gap: 4%;
}

.main-clientes div{
    border: 0.5px groove rgb(173, 171, 171);
    list-style: none;
}

.main-clientes div li img{
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-clientes div li p{
    margin: 0 15%;
}

.main-clientes div li h3{
    color: red;
}

.imagen-clientes{
    height: 100px;
    position: relative;    
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 1030px) {
    .clients{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .clients{
        margin-left: 0%;
    }
    .clientes{
        margin-top: 30%;
    }
    .main-clientes{
        display: flex;
        flex-direction: column;
    }
    .main-clientes div{
        margin-bottom: 7%;
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<-------------------blog---------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.blog{
    background-color: #fff;
    height: 100%;
    margin-left: 18%;
}

.blog-titulo{
    font-size: 40px;
    color: red;
}

.me-blog{
    margin: 55px 35px;
}

.main-blog{
    margin: 55px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
    column-gap: 4%;
}

.main-blog div{
    /* border: 0.5px solid rgb(204, 203, 203); */
    list-style: none;
}

.main-blog div div{
    text-align: center;

}   

.main-blog div a img{
    height: 200px;
    width: 100%;
    border-radius: 2%;
}

/* .main-blog div a span{
    position:absolute;
} */

.titulo{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
    color: red;
}

.main-blog div p{
    margin-bottom: 3%;
}

.span-blog{
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 1030px) {
    .blog{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .blog{
        margin-left: 0%;
    }

    .main-blog{
        display: flex;
        flex-direction: column;
    }
    
}

/*<--------------------------------------------------->
<--------------------------------------------------->
<--------------- ESPACIO 2-------------------------->
<--------------------------------------------------->
<---------------------------------------------------> */

.espacio-2{
    height: 60%; 
    background-color:rgb(0, 0, 0);
    margin-left: 18%;
    border: 0.5px solid rgb(87, 85, 85);
}

.espacio-texto-2{
    margin: 25px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    color: #ffff;   
}

.espacio-texto-2 div{
    list-style: none;
}

.espacio-texto-2 div li p{
    margin-top: 10%;
}

.espacio-2 div{
    margin: 35px 35px;
}

.un-borde-top{
    border-top: 0.5px solid rgb(87, 85, 85) ;
    display: flex;
    justify-content: space-between;
}

.img-1{
    padding: 25%;
    background-color: #1976D2;
    border-radius: 20%;
    margin-left: 35%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.img-2{
    padding: 25%;
    background-color: #5C6BC0;
    border-radius: 20%;
    margin-left: 35%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.img-3{
    padding: 25%;
    background-color: rgb(233, 27, 240);
    border-radius: 20%;
    margin-left: 35%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.img-4{
    padding: 25%;
    background-color: #ff0000;
    border-radius: 20%;
    margin-left: 35%;
    display: flex;
        justify-content: center;
        align-items: center;

}

.img-5{
    padding: 25%;
    background-color: #40E0D0;
    border-radius: 20%;
    margin-left: 35%;
    display: flex;
        justify-content: center;
        align-items: center;

}

.un-borde-top p{
    color: white;
    margin-top: 35px;
}

.un-borde-top div{
    /* margin-left: 2%; */
    display: inline-flex;
}

.span-espacio-2{
    color: #ff0000;
}

@media screen and (max-width: 1030px) {
    .espacio-2{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 700px){
    .espacio-2{
        margin-left: 0%;
    }

    .espacio-texto-2{
        display: flex;
        flex-direction: column;
    }
    .un-borde-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    
    
    
    .espacio-2-box{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: space-between;
    }
    .un-borde-top p{
        margin-top: 0%;
        height: 70%;
    }
    .img-1{
        padding: 5%;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-2{
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;

    }
    .img-3{
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;

    }
    .img-4{
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;

    }
    .img-5{
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        
    }
}





